:host {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .container {
    display: flex;

    .lista {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 20%;

      .aluno {
        display: flex;
        flex-direction: column;
      }
    }

    .detalhes {
      display: flex;
      flex-direction: column;
      width: 80%;
    }
  }
}
